$primary: rgb(255, 255, 255);
$secondary: white;
$body-bg: rgb(224, 224, 224);
$body-color: black;
$enable-shadows: true;
$enable-gradients: true;
$font-family: Oswald;
@import "~bootstrap/scss/bootstrap.scss";
